

:root {
    --bs-blue: rgb(84,159,255);
    --bs-white: rgb(255,255,255);
}

body {
    background-color: var(--bs-blue);
}

#main {
    background: var(--bs-white);
    justify-content: center;
    align-items: center;
    display:flex;
    height: 30rem;
    width: 70rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 200px;

}

#column {
    background-color: var(--bs-white);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
}