:root {
    --bs-blue: rgb(84,159,255);
    --bs-dark-blue: rgb(56, 120, 223);
    --bs-white: rgb(255,255,255);
    --bs-border: rgb(247,248,251);
    --bs-column-title: rgb(165,163,165);
}

body {
    background-color: var(--bs-blue);
}

.main {
    background: var(--bs-white);
    justify-content: center;
    align-items: center;
    display:flex;
    height: 34rem;
    width: 70rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid var(--bs-white);
    border-radius: 0.5rem;
    box-shadow: 1px 5px 30px gray;
    flex-direction: row;


}

@media (max-width:1100px) {
    .main {
        width: 40%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 34rem;
        width: none;
        top: 80%;
        border-radius: 0px;
        border: 0px;
        
    }

    #column-mid {
        border-radius: 0;
        border-right: 0px solid !important;
        border-left: 0px solid !important;
    }

}


@media (max-width:900px) {
    .main {
        width: 60%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 34rem;
        top: 85%;
        border-radius: 0px;
        border: 0px;
        
    }

    #column-mid {
        border-radius: 0;
        border-right: 0px solid !important;
        border-left: 0px solid !important;
    }

}

@media (max-width:600px) {
    .main {
        width: 80%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 34rem;
        width: none;
        top: 85%;
        border-radius: 0px;
        border: 0px;
        
    }

    #column-mid {
        border-radius: 0;
        border-right: 0px solid !important;
        border-left: 0px solid !important;
    }

}

@media (max-width:400px) {
    .main {
        width: 80%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 34rem;
        width: none;
        top: 85%;
        border-radius: 0px;
        border: 0px;
        
    }

    #column-mid {
        border-radius: 0;
        border-right: 0px solid !important;
        border-left: 0px solid !important;
    }

}

.column {
    background-color: var(--bs-white);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    text-align: center;
}

#column-mid {
    background-color: var(--bs-white);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    width: 100%;
    border-color: var(--bs-border);
    border-right: 3px solid var(--bs-border);
    border-left: 3px solid var(--bs-border);
    text-align: center;
}


img {
    width: 60%;
    margin-top: 10px;
    height: auto;
}

h1 {
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--bs-column-title);
    font-family: sans-serif;
}

.column-detail {
    color: var(--bs-dark-blue);
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 1.8rem;
    text-transform: uppercase;
    margin: 0 2.5rem;
    margin-top: 15px;
}

.top-info {
    border-top: 2px solid var(--bs-border) ;
    border-bottom: 2px solid var(--bs-border);
    padding: 1rem;
}

.bottom-info {
    border-bottom: 2px solid var(--bs-border);
    padding: 1rem;
}

.button {
    color: var(--bs-dark-blue);
    font-size: 1.7em;
    font-weight: 900;
    margin-top: -25px;
    font-family: sans-serif;
    text-transform: uppercase;
}

button {
    padding: 0.7rem 2.4rem;
    border-radius: 7px;
    background-color: var(--bs-white);
    text-transform: uppercase;
    color: var(--bs-blue);
    border: 0.5px solid var(--bs-blue);
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: var(--bs-blue);
    color: var(--bs-white);
    transition: 0.3s;

}

.button-middle {
    color: var(--bs-dark-blue);
    font-size: 1.7em;
    font-weight: 900;
    margin-top: -25px;
    font-family: sans-serif;
    text-transform: uppercase;
}

.button-middle button {
    background-color: var(--bs-blue);
    color: var(--bs-white);
    transition: 0.3s;
}

.button-middle button:hover {
    background-color: var(--bs-white);
    color: var(--bs-blue);
    transition: 0.3s;
    cursor: pointer;
}
